<div class="live-ops-feed-container space-y-4 {{ with .class }}{{ . }}{{ end }}">
    <!-- Tactical Placeholder while loading -->
    <div class="p-6 bg-[#bfc1c3]/5 border border-[#bfc1c3] dark:border-[#323e48] space-y-4 relative overflow-hidden transition-colors duration-300">
        <div class="flex justify-between items-start opacity-40">
            <div class="space-y-2">
                <div class="h-2 w-24 bg-moduk-secondary"></div>
                <div class="h-2 w-16 bg-[var(--brand-tint)]"></div>
            </div>
            <div class="h-5 w-12 bg-[#bfc1c3] dark:bg-[#323e48]"></div>
        </div>
        <div class="h-6 w-3/4 bg-[#bfc1c3] dark:bg-[#323e48] opacity-20"></div>
        <div class="pt-4 border-t border-[#bfc1c3] dark:border-[#323e48] grid grid-cols-2 gap-4 opacity-20">
            <div class="h-8 bg-[#bfc1c3] dark:bg-[#323e48]"></div>
            <div class="h-8 bg-[#bfc1c3] dark:bg-[#323e48]"></div>
        </div>
    </div>
</div>
