[submodule "themes/govukhugo"]
	path = themes/govukhugo
	url = https://github.com/co-analysis/govukhugo.git
[submodule "themes/uksf-mod-theme"]
	path = themes/uksf-mod-theme
	url = https://github.com/matt/uksf-mod-theme.git
