// themes/uksf-mod-theme/assets/scss/_variables.scss

// MOD.UK / GOV.UK Defaults (Official design.txt)
$govuk-blue: #1d70b8;
$govuk-black: #0b0c0c;
$govuk-white: #ffffff;
$moduk-brand-colour: #532a45; // Master MOD Purple
$moduk-dark-grey: #323e48; // Footers and secondary depth

// UKSF Branch Colors (Official Blueprint)
$color-sas: #153e35; // Army Green
$color-sbs: #000033; // Navy Blue
$color-srr: #507255; // Emerald Grey
$color-sfsg: #556b2f; // SFSG Olive (approx from design.txt)
$color-jsfaw: #000080; // Royal Blue
$color-global: $moduk-dark-grey;

:root {
  --primary-color: #{$govuk-blue};
  --unit-accent: #{$color-global};
  --moduk-purple: #{$moduk-brand-colour};
  --moduk-dark-grey: #{$moduk-dark-grey};
}

body.unit-sas { --unit-accent: #{$color-sas}; }
body.unit-sbs { --unit-accent: #{$color-sbs}; }
body.unit-srr { --unit-accent: #{$color-srr}; }
body.unit-sfsg { --unit-accent: #{$color-sfsg}; }
body.unit-jsfaw { --unit-accent: #{$color-jsfaw}; }

