// themes/uksf-mod-theme/assets/scss/_variables.scss

// MOD.UK / GOV.UK Defaults (Approximated)
$govuk-blue: #1d70b8;
$govuk-black: #0b0c0c;
$govuk-white: #ffffff;

// UKSF Branch Colors
$color-sas: #4B5320; // Olive Drab
$color-sbs: #002366; // Royal Navy Blue
$color-srr: #54626F; // Grey/Steel
$color-sfsg: #800000; // Maroon
$color-jsfaw: #4682B4; // Steel Blue
$color-global: #333333; // Neutral Dark Grey

:root {
  --primary-color: #{$govuk-blue};
  --unit-accent: #{$color-global};
}

body.unit-sas { --unit-accent: #{$color-sas}; }
body.unit-sbs { --unit-accent: #{$color-sbs}; }
body.unit-srr { --unit-accent: #{$color-srr}; }
body.unit-sfsg { --unit-accent: #{$color-sfsg}; }
body.unit-jsfaw { --unit-accent: #{$color-jsfaw}; }
