<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    {{ $style := resources.Get "scss/main.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
{{ $unit := .Site.Params.unit_theme | default "sas" }}
{{ if .Section }}
    {{ $unit = .Section }}
{{ end }}
<body class="unit-{{ lower $unit }}">
    {{ partial "phase-banner.html" . }}
        <header class="header-banner">
            <div class="container">
                <h1 class="industrial-title"><a href="/" style="color: inherit; text-decoration: none;">{{ .Site.Title }}</a></h1>
                <nav class="unit-nav">
                    <ul>
                        {{ range .Site.Menus.main }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </nav>
                <p>Active Section: {{ if .Section }}{{ upper .Section }}{{ else }}HOME{{ end }}</p>
            </div>
        </header>
    

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        <p>Built by {{ .Site.Params.builtby }}</p>
    </footer>
</body>
</html>
