/* Add your own custom styles here */
.front-page-logo {
    width: 30%;  /* Change to whatever size you need */
    height: auto;
}

.front-page-offer {
    width: 65%;
    height: auto;
}

.media-images {
    width: 100%; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    object-fit: fill; /* Ensures the image fills the box without distortion */
    border-radius: 10px; /* Slightly rounded corners */
  }
  