<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" class="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;700;900&family=JetBrains+Mono&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
</head>
<body class="bg-[#050505] text-gray-300">
  {{ partial "theme/header.html" . }}
  
  <div class="main-content-wrapper min-h-screen">
    {{ block "main" . }}{{ end }}
  </div>

  {{ partial "theme/footer.html" . }}
  
  <script src="{{ "js/main.js" | relURL }}" defer></script>
</body>
</html>
