{{ define "main" }}
<article class="content-area">
  <div class="dossier-meta">
    <div class="meta-item">
      <label>Dossier ID</label>
      <span>UKSF-{{ upper (substr (sha256 .Title) 0 8) }}</span>
    </div>
    <div class="meta-item">
      <label>Classification</label>
      <span>RESTRICTED</span>
    </div>
    <div class="meta-item">
      <label>Issued</label>
      <span>{{ .Date.Format "02 JAN 2006" }}</span>
    </div>
    <div class="meta-item">
      <label>Operational Status</label>
      <span>ACTIVE_SERVICE</span>
    </div>
  </div>

  <h1>{{ .Title }}</h1>

  <div class="dossier-content">
    {{ .Content }}
  </div>

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</article>
{{ end }}
