{{/* Duty Desk specific block for real-time intel */}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Duty Desk
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Operational Status: <strong>ACTIVE</strong>
        </p>
         <div class="govuk-body">
            <strong>Steam Players:</strong> {{ .Site.Data.server_stats.current_players }}/{{ .Site.Data.server_stats.max_players }}
            <br>
            <strong>Battlemetrics Uptime:</strong> {{ .Site.Data.external.battlemetrics.uptime }}
         </div>
      </div>
    </div>
  </div>
</div>
