<div class="bg-white dark:bg-mod-black border-b border-mod-grey-3 dark:border-mod-grey-1 transition-colors duration-300 h-[50px] flex items-center">
    <div class="moduk-width-container">
        <div class="moduk-phase-banner !border-0 !p-0 !m-0">
            <p class="moduk-phase-banner__content !m-0 flex items-center gap-6">
                <strong class="bg-mod-purple text-white px-3 py-1 text-[10px] font-black uppercase tracking-widest shadow-sm">
                    {{ site.Params.phase | upper | default "ALPHA" }}
                </strong>
                <span class="text-[11px] font-body text-mod-grey-1 dark:text-mod-grey-3 font-bold uppercase tracking-widest">
                    This is a new service – your feedback will help us to improve it.
                </span>
            </p>
        </div>
    </div>
</div>