{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["layouts/**/*.html", "assets/**/*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}